<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <form action="/order" method="POST">
        <label>Customer's name:</label>
        <input type="text" id="bet" name="customerName"  >

        <select name="size" >
            <option value="Grande">Grande</option>
            <option value="Medium">Medium</option>
            <option value="Small">Small</option>
        </select>

        <button type="sumbit">Submit</button>
    </form>
    
    <a href="/">Home</a>

    <h2>Orders</h2>
   
    <script src="main.js"></script>
</body>

</html>